/*@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');*/

body {
    background-color: whitesmoke;
    /*font-family: "Lato";*/
    font-size: 15px;
    color: #555;

    --webkit-font-smoothing: antialised;
    --webkit-overflow-scrolling: touch;
}

main{
    margin-top: 20px;
}

hr{
    padding-bottom: 15px;
}

a {
    color: darkslategrey;
}

a:hover, a:focus{
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.navbar{
    font-size: 20px;
    padding: 20px 50px;
}

.navbar-brand{
    font-size: 40px;
}

#large-table{
    /*margin-top: 30px;*/
    font-size: 17px;
}

#verb-names{
    margin: 50px;
}

#verb{
    padding: 20px;
    padding-left: 70px;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    background-color: whitesmoke;
}

#checkboxes{
    margin-top: 20px;
}

#btn-submit-search{
    margin-top: 20px;
}

#search-example{
    margin-top: 20px;
}


